{% extends "base.html" %}
<script>
    console.log("got here")
    // var circle = document.getElementById("circle");
    // window.addEventListener("scroll", function() {
    //     circle.style.transform = "rotate("+window.pageYOffset+"deg)";
    // });
</script>
{% block content %}
    <div style="background: #1F5161; padding: 2em; display: flex;">
        <div>
            {% for pokemon in pokemon_dict %}
                <div style="background: #B1DC8F; padding: 2em; margin: 1em; width: 50%">
                    <a rel="prefetch" href='{{pokemon["href"]}}'><h2>{{pokemon["name"]}}</h2></a>
                    <img alt="sprite" src='{{pokemon["sprites"]["front_default"]}}'>
                </div>
            {% endfor %}
        </div>
        <div class="outer-circle" id="circle">
            <div class="circle-line">
                <div class="inner-circle">

                </div>
            </div>
        </div>
    </div>
    <script>
        var circle = document.getElementById("circle");
        window.addEventListener("scroll", function() {
            circle.style.transform = "rotate("+window.pageYOffset+"deg)";
        });
    </script>
{% endblock %}

