{% extends "base.html" %}
{% block content %}
    <div style="background: #1F5161; padding: 2em; display: flex; height: 100%; width: 100%;">
        <div>
            <a href="/gen1"><p style="color: antiquewhite;">Gen 1 Pokedex</p></a>    
            <a href="/gen2"><p style="color: antiquewhite;">Gen 2 Pokedex</p></a>    
            <a href="/gen3"><p style="color: antiquewhite;">Gen 3 Pokedex</p></a>    
            <a href="/gen4"><p style="color: antiquewhite;">Gen 4 Pokedex</p></a>    
        </div>
    </div>
{% endblock %}

